<body>
  <div class="container border">
    <div class="row mb-5">
        <div class="col-8 offset-2">
            <h3 class="text-center mt-3 mb-5">Your Results</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 pl-0 pr-0 mb-2 border text-center" id="beer-results">
                        <p><strong>Beer Results</strong></p>
                       <p> <strong>Name: {{this.name}}
                           <br>
                           Brewery:{{this.brewery}}
                           <br>
                           Description:{{this.desc}}
                           <br>
                           ABV:{{this.abv}}
                           <br>
                           IBU:{{this.ibu}}
                           <br>
                           Label:{{this.label}}
                           <br>
                       </strong></p> 
                    </div>
                    <div class="col-md-5 offset-2 pl-0 pr-0 mb-2 border" id="beer-map">
                        <strong>Location of Brewery Map(Coming Soon)</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <h5>Hungry? Here's some of our favorite places nearby:</h5>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-2 mr-3 border text-center" id="food1-results">
            <p><strong>Food Choice 1:</strong></p>
            <li>
               <p>{{this.food1}}</p>
            </li>
        </div>
        <div class="col-md-2 mr-3 border text-center" id="food2-results">
            <p><strong>Food Choice 2:</strong></p>
            <li>
                <p>{{this.food2}}</p>
            </li>
        </div>
        <div class="col-md-2 mr-3 border text-center" id="food3-results">
            <p><strong>Food Choice 3:</strong></p>
            <li>
                <p>{{this.food3}}</p>
            </li>
        </div>
        <div class="col-md-2 mr-3 border text-center" id ="food4-results">
            <p><strong>Food Choice 4:</strong></p>
            <li>
                <p>{{this.food4}}</p>
            </li>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


</body>